# Arquivos temporarios do Astah e outros
*.lock
*.bak
*.jpg
*.db
Hotel/src/hibernate.cfg.xml
/SistemaHotel/nbproject/private/
/SistemaHotel/build/
/CaelumThreads/nbproject/private/
/CaelumThreads/build/
/SistemaEstoque/nbproject/private/
/SistemaHotel/dist/
/Hotel/nbproject/private/
/Hotel/build/
/Hotel/dist/
/TesteSocket/nbproject/private/
/TesteSocket/build/