# Arquivos temporarios do Astah e outros
*.lock
*.bak
*.jpg
*.db
/SistemaHotel/nbproject/private/
/SistemaHotel/build/
/CaelumThreads/nbproject/private/
/CaelumThreads/build/
/SistemaEstoque/nbproject/private/