<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hotelsol</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="org.sistemahotel.Model.Acomodacao"/>
    <mapping class="org.sistemahotel.Model.Acompanhante"/>
    <mapping class="org.sistemahotel.Model.Administrador"/>
    <mapping class="org.sistemahotel.Model.CadastroEntrada"/>
    <mapping class="org.sistemahotel.Model.CadastroSaida"/>
    <mapping class="org.sistemahotel.Model.CategoriaAcomodacao"/>
    <mapping class="org.sistemahotel.Model.CategoriaProduto"/>
    <mapping class="org.sistemahotel.Model.ConsumoHospede"/>
    <mapping class="org.sistemahotel.Model.Endereco"/>
    <mapping class="org.sistemahotel.Model.Fatura"/>
    <mapping class="org.sistemahotel.Model.Funcionario"/>
    <mapping class="org.sistemahotel.Model.Hospede"/>
    <mapping class="org.sistemahotel.Model.Produto"/>
    <mapping class="org.sistemahotel.Model.Reserva"/>
    <mapping class="org.sistemahotel.Model.Telefone"/>
    <mapping class="org.sistemahotel.Model.TipoPagamento"/>
  </session-factory>
</hibernate-configuration>
